header {
  text-align: center;
}

#page-content {
  width: 90%;
  margin: 2% auto;
}

.content {
  width: 75%;
  margin: 2% auto;
  justify-content: center;
}



.image {
  width: 80%;
  margin: 2% auto;
  height: fit-content;
}

.in-text-image {
  width: 50%;
}

.vertical {
  height: 30%;
}

img {
  width: 100%;
}
