.amazon{
  color:brown;
  font-family: Georgia;
  padding: 0 150px 20px 150px;
 background-color: rgba(128, 128, 128, 0.377);
}
header{
  text-align: center;
  padding: 20px 0 20px 0;
  background-color: rgba(49, 153, 139, 0.925);
}
.i{
  padding-left: 10%;
  padding-top: 20px;
  float: right;
  width: 60%;
}
.q1{
  padding: 10px 20px 30px 30px;
  border: 50px solid white ;
}
.questions{
padding: 10px 5% 0 5%;
}
h2{
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color:rgba(26, 143, 73, 0.906)
}
footer{
  text-align: center;
  padding: 10px 0 20px 0;
  background-color: rgba(49, 153, 139, 0.925);
}
